
// Variables using in projects 
$main-bg: #f3f4f6;
$grey-light: #ddd ;
$grey: grey ;
$white:#fff ;
$black: black;
$grey-300: #ccc;
$red: red;

$fs-05 : 0.5rem;
$fs-06 : 0.6rem;
$fs-07 : 0.7rem;
$fs-085 : 0.85rem;
$fs-1 : 1rem;
$fs-1-5 : 1.5rem;
$fs-2 : 2rem;
$fs-2-5 : 2.5rem;
$fs-3 : 3rem;
$fs-4 : 4rem;
$fs-5 : 5rem;

$border-1: 1px solid $grey-light ;

