
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(181, 101, 255);
}

.background-color {
    background-color: rgb(4, 147, 154);
}

.background-white {
    background-color: white;
}

.border-none {
    border: none;
}

.color-white {
    color: white;
}

table {
    width: 47rem;
    height: 70vh;
    margin: 5rem auto;
}

table tr th {
    width: 50%;
    padding: 0 2rem;
}

table tr th .chat h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

table tr th .chat p {
    margin-bottom: 1.3rem;
    opacity: 0.8;
}

table tr th .contact h5 {
    text-align: left;
    margin-bottom: .5rem;
}

table tr th .contact input,
table tr th .contact textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: .6rem;
    background-color: #eee;
    outline: none;
}

table tr th .contact textarea {
    height: 6rem;
}

table tr th .contact button {
    padding: 0.7rem 2rem;
    border-radius: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}